exclude book
recursive-exclude book *
exclude docs
recursive-exclude docs *
exclude src
recursive-exclude src *

exclude .flake8
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude .web-compile-config.yml
exclude requirements.txt
recursive-exclude ci *.yml

include LICENSE
include MANIFEST.in
include README.md

include sphinx_pythia_theme/theme.conf
recursive-include sphinx_pythia_theme *.html *.py
recursive-include sphinx_pythia_theme/static *.js *.css
recursive-include sphinx_pythia_theme/_templates *.html

global-exclude .DS_Store
global-exclude *.pyc
