@use 'ncar';

$primary: map-get(ncar.$colors, 'blue');

@import '../bootstrap/scss/bootstrap';

$brand-img-height: 2rem;
$navbar-height: 2.5rem + $brand-img-height;
$sidebar-width: 12rem;

$sidebar-left-contracted: -10rem;
$main-margin-left-contracted: 2rem;

$sidebar-left-expanded: 0;
$main-margin-left-expanded: $sidebar-width;


:root {
  --main-contract-breakpoint: #{map-get($grid-breakpoints, 'md')};
  --brand-img-height: #{$brand-img-height};
  --navbar-height: #{$navbar-height};
  --sidebar-width: #{$sidebar-width};
  --sidebar-left-expanded: #{$sidebar-left-expanded};
  --sidebar-left-contracted: #{$sidebar-left-contracted};
  --main-margin-left-expanded: #{$main-margin-left-expanded};
  --main-margin-left-contracted: #{$main-margin-left-contracted};
}

a.headerlink {
  text-decoration: none;
  color: transparent;
  position: absolute;
}

a.headerlink:hover {
  color: $gray-500;
}

a.navbar-brand img {
  height: $brand-img-height;
  vertical-align: middle;
}

a.btn-default {
  text-align: left;
}

body {
  font-family: map-get(ncar.$fonts, 'body'), sans-serif;
}

p {
  text-align: justify;
}

.wrapper {
  padding: 0;
  margin-top: 3rem;
}

i.bi::before {
  line-height: inherit;
}

.onecolumn {
  .banner {
    // Photo by Jeff Stapleton from Pexels
    background-image: url(../img/backgrounds/pexels-jeff-stapleton-5792818.jpg);
    background-size: cover;
    background-position: center center;
  }

  .banner-mask {
    background-color: map-get(ncar.$colors, 'blue');
    opacity: 0.85;
  }

  .banner-box {
    padding-top: 12rem;
    padding-bottom: 8rem;
  }

  .banner-caption {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .section {
    margin: auto;

    h3, h4, h5, h6 {
      text-align: center;
    }
  }

  .section-box {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-title {
    display: inline-block;
    padding: 0 4rem 1rem 4rem;
    margin-bottom: 3rem;
  }

  .section-box.section-box-light {
    color: $dark;
    background-color: $light;

    .section-title {
      border-bottom: 2px solid map-get(ncar.$colors, 'deep-blue');
    }
  }

  .section-box.section-box-light-gray {
    color: $dark;
    background-color: $gray-300;

    .section-title {
      border-bottom: 2px solid map-get(ncar.$colors, 'deep-blue');
    }
  }

  .section-box.section-box-dark-gray {
    color: $light;
    background-color: $gray-600;

    .section-title {
      border-bottom: 2px solid map-get(ncar.$colors, 'highlight-green');
    }
  }

  .section-box.section-box-dark {
    color: $light;
    background-color: $dark;

    .section-title {
      border-bottom: 2px solid map-get(ncar.$colors, 'highlight-green');
    }
  }
}

.twocolumn {
  margin-top: $navbar-height;

  .sidebar {
    display: block;
    width: $sidebar-width;
    height: 85%;
    position: absolute;
    top: $navbar-height;
    left: $sidebar-left-expanded;
    transition: left 500ms;

    i.bi::before {
      transition-duration: 300ms;
    }

    .bi.bi-chevron-expand::before {
      transform: rotate(90deg);
    }

    .bi.bi-chevron-contract::before {
      transform: rotate(90deg);
    }

    .sidebar-nav {
      border-top: 1px solid $gray-400;
      border-top-right-radius: 5px;
      border-right: 1px solid $gray-400;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid $gray-400;
      background-color: $light;
      overflow: hidden;
      transition: height 500ms;

      .btn.active {
        background-color: $gray-300;
      }

      .btn:focus {
        box-shadow: none;
      }

      button[aria-expanded='true'] i.bi.bi.bi-chevron-double-left::before {
        transform: rotate(-90deg);
      }

      #sidebarNavItems {
        margin: 0;
        padding-bottom: 1rem;
      }

      ul li a {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 0.6rem;
      }

      ul ul li a {
        font-size: 0.85rem;
        font-weight: 500;
        margin-left: 1.2rem;
      }

      ul ul ul li a {
        font-size: 0.7rem;
        font-weight: 400;
        margin-left: 1.8rem;
      }

      ul ul ul ul li a {
        font-weight: 300;
        margin-left: 2.4rem;
      }

      ul ul ul ul ul li a {
        font-weight: 200;
        margin-left: 3rem;
      }

      ul ul ul ul ul ul li a {
        font-style: italic;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .sidebar {
      left: $sidebar-left-contracted;
      .sidebar-nav {
        height: 2rem;
      }
    }
  }

  main {
    margin-left: $main-margin-left-expanded;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
    transition: margin-left 500ms;

    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
      display: block;
      position: relative;
      height: $navbar-height;
      margin-top: -$navbar-height;
      content: '';
    }
  }
  @include media-breakpoint-down(md) {
    main {
      margin-left: $main-margin-left-contracted;
    }
  }
}

.footer {
  color: $light;
  font-family: map-get(ncar.$fonts, 'footnote');

  .bottomnav {
    background-color: $dark;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sponsor {
    background-color: $gray-800;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
      height: 80px;
    }
  }
}
