@use 'ncar';

$primary: map-get(ncar.$colors, "blue");

@import "../bootstrap/scss/bootstrap";

$brand-img-height: 2rem;
$navbar-vertical-height: 3rem + $brand-img-height;

$sidebar-width: 10rem;
$sidebar-position: fixed;

body {
  font-family: map-get(ncar.$fonts, 'body'), sans-serif;
}

p {
  text-align: justify;
}

nav a.navbar-brand img {
  height: $brand-img-height;
}

.layout {
  display: grid;
  gap: 0;
  grid-template-areas: "sidebar main";
  grid-template-columns: $sidebar-width 1fr;
}

.sidebar {
  display: block;
  grid-area: sidebar;

  ul li a {
    font-size: 1.2rem;
    font-weight: 600;
  }

  ul ul li a {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }

  ul ul ul li a {
    margin-left: 1rem;
    font-size: 0.85rem;
    font-weight: 400;
  }

  ul ul ul ul li a {
    font-size: 0.7rem;
    font-weight: 300;
  }

  ul ul ul ul ul li a {
    font-weight: 200;
  }

  ul ul ul ul ul ul li a {
    font-style: italic;
  }
}

.sidebar-nav {
  position: fixed;
}

.main {
  grid-area: main;
  padding-left: 2rem;
  padding-right: 2rem;

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    position: relative;
    height: $navbar-vertical-height;
    margin-top: -$navbar-vertical-height;
    content: '';
  }
}

.footer {
  color: $light;
  font-family: map-get(ncar.$fonts, 'footnote');

  .bottomnav {
    background-color: $dark;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sponsor {
    background-color: $gray-800;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
      height: 80px;
    }
  }
}
