$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$white: #fff;
$light: $gray-100;
$dark: $gray-800;
$black: #000;

$pythia-green: rgb(0, 121, 124);
$pythia-lighter-green: rgb(40, 147, 157);
$pythia-lightest-green: rgb(64, 193, 172);
$pythia-blue: rgb(26, 101, 143);
$pythia-blue-alpha: rgba(26, 101, 143, 0.85);
$pythia-lighter-blue: rgb(0, 127, 163);
$pythia-lightest-blue: rgb(0, 193, 213);
$pythia-deep-blue: rgb(1, 33, 105);
$pythia-highlight-green: rgb(168, 199, 0);
$pythia-cool-gray-11: rgb(83, 86, 90);
$pythia-cool-gray-7: rgb(151, 153, 155);
$pythia-cool-gray-4: rgb(187, 188, 188);
$pythia-cool-gray-1: rgb(217, 217, 214);
$pythia-background-blue-1: rgb(195, 215, 238);
$pythia-background-blue-2: rgb(206, 217, 229);
$pythia-background-blue-3: rgb(219, 226, 233);
