body {
  padding-top: 0;
  font-family: var(--spt-font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 128px;
}

p {
  color: inherit;
}
