.thebe-launch-button {
  height: 2.2em !important;
  font-size: .8em !important;
  border: 1px solid rgba(var(--spt-color-gray-600), 1) !important;
  border-radius: 4px !important;
  color: rgba(var(--spt-color-gray-600), 1);
}
