a.headerlink {
  position: relative;
  text-decoration: none;
  font-size: unset !important;
  padding: 0 0.7rem !important;
}

a.headerlink:hover {
  color: rgba(var(--spt-color-gray-500), 1);
  background-color: transparent;
}

div.highlight pre {
  border: 1px solid rgba(var(--spt-color-gray-300), 1) !important;
  border-radius: 4px !important;
  background-color: rgba(var(--spt-color-gray-200), 1) !important;
}
